html { 
  background: url(../images/1_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  // overflow-y: hidden;
}

// #scene{
// 	height: 100px;
// 	display: block;
// }

.stage{
	height: 6000px;
}

#castles{
	position: fixed;
	bottom: -100px;
	left: 500px;
	width: 700px;
	z-index: 0;
}

#water{
	z-index: 10;
	position: fixed;
    bottom: -100px;
    left: 100px;
    opacity: 1;
}

#treeLeft, #treeRight{
	z-index: 5;
}

#treeLeft{
	position: fixed;
	left: -10px;
	bottom: 0;
}

#treeRight{
	position: fixed;
	right: -10px;
	bottom: 0;
}